DJANGO_SECRET_KEY=dev-secret-key
ENVIRONMENT=local
DEBUG=True
ALLOWED_HOSTS=backend,frontend,backoffice,localhost,127.0.0.1
DB_ENGINE=django.db.backends.postgresql
DB_NAME=migration
DB_USER=postgres
DB_PASSWORD=thos
DB_HOST=db
DB_PORT=5432
DJANGO_ALLOWED_CORS_ORIGINS=http://localhost:4173,http://localhost:4174
